@import '@extension/ui/global.css';

body {
  background: #f6f8fe;
}

.folder {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;

  summary {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
  }

  pre {
    padding: 0;
  }

  .json-viewer {
    padding: 10px;
    border-radius: 4px;
    background-color: #edf1fa;
    white-space: pre-wrap;
  }
}
